---
import "../styles/global.css";
import "katex/dist/katex.min.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Container from "../components/Container.astro";
import type { Lang } from "../config/navigation";

interface Props {
  title: string;
  description?: string;
  lang: Lang;
}

const {
  title,
  description = "Personal website about math, programming, and game development.",
  lang,
} = Astro.props;
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  </head>

  <body>
    <Header lang={lang} />

    <main>
      <Container>
        <slot />
      </Container>
    </main>

    <Footer lang={lang} />
  </body>
</html>